.cabeçalho {
    background-color: rgb(51, 24, 174);
    color: beige;
    display: flex;
    justify-content: space-around;
.cabeçalho-lista-item{
    display: inline-block;

}
.cabeçalho-imagem{
    width: 20%;
}
}
